{% extends 'base.html.twig' %}

{% block title %}Agents index{% endblock %}

{% block body %}
    <h1>Agents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>AuId</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Login</th>
                <th>Mdp</th>
                <th>Codeagence</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.auId }}</td>
                <td>{{ agent.nom }}</td>
                <td>{{ agent.prenom }}</td>
                <td>{{ agent.login }}</td>
                <td>{{ agent.mdp }}</td>
                <td>{{ agent.codeagence }}</td>
                <td>{{ agent.email }}</td>
                <td>
                    <a href="{{ path('agents_show', {'auId': agent.auId}) }}">show</a>
                    <a href="{{ path('agents_edit', {'auId': agent.auId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agents_new') }}">Create new</a>
{% endblock %}
