
                        <div class="form-group">
                            {{ form_label(form.codepays,null, {'attr': {'class': ' control-label'}}) }}
                            {{ form_widget(form.codepays, {'attr': {'class': 'form-control '}}) }}
                            {{ form_errors(form.codepays) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.libpays,null, {'attr': {'class': ' control-label'}}) }}
                            {{ form_widget(form.libpays, {'attr': {'class': 'form-control '}}) }}
                            {{ form_errors(form.libpays) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.place,null, {'attr': {'class': ' control-label'}}) }}
                            {{ form_widget(form.place, {'attr': {'class': 'form-control '}}) }}
                            {{ form_errors(form.place) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.ordre,null, {'attr': {'class': ' control-label'}}) }}
                            {{ form_widget(form.ordre, {'attr': {'class': 'form-control '}}) }}
                            {{ form_errors(form.ordre) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.nature,null, {'attr': {'class': ' control-label'}}) }}
                            {{ form_widget(form.nature, {'attr': {'class': 'form-control '}}) }}
                            {{ form_errors(form.nature) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.continent,null, {'attr': {'class': ' control-label'}}) }}
                            {{ form_widget(form.continent, {'attr': {'class': 'form-control '}}) }}
                            {{ form_errors(form.continent) }}
                        </div>
                        {{ form_end(form) }}



