{#{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}#}
   {# <h1>Pays</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Idpays</th>
            <td>{{ pay.idpays }}</td>
        </tr>
        <tr>
            <th>Codepays</th>
            <td>{{ pay.codepays }}</td>
        </tr>
        <tr>
            <th>Libpays</th>
            <td>{{ pay.libpays }}</td>
        </tr>
        <tr>
            <th>Place</th>
            <td>{{ pay.place }}</td>
        </tr>
        <tr>
            <th>Ordre</th>
            <td>{{ pay.ordre }}</td>
        </tr>
        <tr>
            <th>Nature</th>
            <td>{{ pay.nature }}</td>
        </tr>
        <tr>
            <th>Continent</th>
            <td>{{ pay.continent }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('pays_index') }}">back to list</a>

    <a href="{{ path('pays_edit', {'idpays': pay.idpays}) }}">edit</a>



    <h3>Manage Listings</h3>
    <br>
    <div class="row">


        <div class="col-md-6">#}


                {# <div class="card-header card-header-image" data-header-animation="true">
                     <a href="#pablo">
                         <img class="img" src="../assets/img/card-1.jpg">
                     </a>
                 </div>#}

      {# </div>
    </div>


    {{ include('pays/_delete_form.html.twig') }}#}
{#{% endblock %}#}


{% include 'pays/edit.html.twig' %}


