{{ form_start(form) }}
<div class="form-group" id="datetimepicker2">
    {{ form_label(form.dateDebut,null, {'attr': {'class': ' control-label '}}) }}
    {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control '}}) }}
    {{ form_errors(form.dateDebut) }}
</div>
   {#<button class="btn">{{ button_label|defaul('Save') }}</button>#}
{{ form_end(form) }}
